/*
Sintaxis
*/

/*
Regla de estilo (Rule)

selector{
    propiedad1: valor;
    propiedad2: valor;
}
*/

/* Selectores de TIPO */

body{
background-color: #deb887;
}

header{
    background-color:#6495ed;       
}